textarea {
  width:97%;
  }
input {
  overflow:visible;
  margin-bottom:1px;
  }

/* Adding required bullet */
.fieldRequired {
  z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<span class="required-bullet">■ </span>'));
  }
.required-bullet {
  color:#f00;
  }

/* Removing horizontal scroll */
.pb-ajax {
  overflow-x:hidden;
  }

.collapsible .collapser.collapsed {
  z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterEnd', '&#9658;'));
  }
.collapsible .collapser.expanded {
  z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('beforeEnd', '&#9660;'));
  }

/* Schools Theme Custom Fixes */
#portal-top {
  z-index:1;
  }
.portletHeader,  
#portal-header,
.topPortlets .visualPadding,
#portal-colophon {
  zoom:1;
  }
#portal-searchbox {
  height:2em;
  }
input.searchButton {
  overflow:hidden;
  padding-top:25px;
  vertical-align:middle;
  }
#livesearchLegend {
  margin-top:-1.9em;
  margin-left:-8px;
  }
.carousel-banner  {
  display:inline !important;
  }
.carousel-over {
  left:0;
  }
.photoAlbumEntry a:hover .photoAlbumEntryTitle  {
  background-color:rgb(241,241,241);
  cursor:pointer;
  }