/*----- Reset -----*/
* li {
  margin-bottom:0.5em;
  }
* h1,h2,h3,h4,h5,h6,pre,code {
  font-size:1em;
  }
* a img,:visited img {
  border:0;
  }
iframe {
  border:0;
  }

.hiddenStructure {
  display:none;
  }

/*---------- GENERAL STYLES ----------*/
body {
  background:#fff;
  color:#000;
  font:69% Verdana, Geneva, sans-serif;
  }
a:link {
  color:#73a20f;
  outline:none;
  text-decoration:none
  }
a:visited {
  color:#a4b089;
  }
a:focus img {
  outline:thin dotted;
  }
a.link-anchor {
  border:0 !important;
  color:#000 !important;
  cursor:default !important;
  }
#content a.link-overlay {
  border-bottom:1px dotted #205c90 !important;
  }
h1, h2, h3, h4, h5, h6 {
  color:#000;
  font-family:Verdana, Geneva, sans-serif;
  font-weight:bold;
  line-height:1.25em;
  margin:0.75em 0 0.25em;
  }
h1, h2 {
  border-bottom:1px solid #ccc;
  font-weight:normal;
  letter-spacing:0;
  }
h1 {
  font-size:160%;
  }
h2 {
  font-size:150%;
  }
h3 {
  font-size:1.25em;
  }
h4 {
  font-size:1.25em;
  }
h5 {
  font-size:1em;
  }
h6 {
  font-size:0.8em;
  }
input {
  font-family:Verdana, Geneva, sans-serif;
  }
q {
  quotes:"“" "”" "‘" "’";
  }
#content p, #content table, #content dl, dl.portlet p, dl.portlet {
  margin-bottom:0.75em;
  }

#visual-portal-wrapper {
  border-color:#ccc;
  border-style:solid;
  border-width:0 1px;
  margin:0 auto;
  padding:0 2px;
  position:relative;
  width:993px;
  }
#portal-top {
  margin-bottom:2px;
  padding:2.55em 0 0;
  }

/*---------- CONTENT STYLES ----------*/
.dContent {
  border: 1px solid #CCCCCC;
  clear: both;
  font-size:110%;
  padding: 0 10px 20px;
  }
#edit-bar {
/*  border:2px solid #75ad0a;*/
  font-size:0.95em;
  margin:5px 0 1em;
  }
#content {
  font-size:1em;
  }  
#content h1.documentFirstHeading {
  border-bottom:0;
  color:#627a8f;
  font-size:130%;
  margin:15px 0 10px;
  padding:0;
  text-transform:uppercase;
  }
body.kssActive h1.documentFirstHeading.inlineEditable:hover {
  padding:1px 1px 3px;
  }
#content .documentDescription,
#content #description {
  color:#000;
  font:bold 100% Verdana,Geneva,sans-serif;
  line-height:1.5em;
  margin:0 0 0.5em;
  }
#content a:link {
  border:0;
  color:#73A20F !important;
  text-decoration:underline;
  }  
#content a:visited {
  color:#a4b089;
  }
#content img.tileImage,
table.listing ul li, .stx table ul li {
  background-position:0 -878px;
  padding-left:11px;
  }
.documentActions ul li {
  background-image:none;
  padding-left:0.5em;
  }
.documentContent ul .formTab {
  background-image:none;
  padding-left:0;
  }
.tileHeadline a {
  text-decoration: underline;
  color: #73a20f !important;
  }
.themeComment {
  left:-9999px;
  position:absolute;
  }
.managePortletsLink {
  padding:0 0 5px;
  }
.managePortletsFallback { 
  font-size: 85%;
  }

/*---------- PORTAL SITE ACTIONS ----------*/
#portal-siteactions {
  border-color:#ccc;
  border-style:solid;
  border-width:1px 1px 1px 0;
  font-size:1em;
  height:2em;
  left:0;
  padding:0;
  position:absolute;
  top:2px;
  width:766px;
  }
#portal-siteactions li {
  border-left:1px solid #ccc;
  float:right;
  margin: 0;
  }
#portal-siteactions li:first-child {
  float:left;
  }
#portal-siteactions li a {
  color:#000;
  display:block;
  padding:4px 5px 5px;
  }
#portal-siteactions li a:hover {
  background-color:#f6f6f6;
  border:0;
  color:#000;
  }

/*---------- PORTAL SEARCH BOX ----------*/
#portal-searchbox {
  border:1px solid #ccc;
  font-size:1em;
  height:2em;
  margin:0;
  position:absolute;
  right:0;
  top:2px;
  width:222px;
  z-index:3;
  }
#portal-searchbox #searchGadget {
  background:none;
  border:0;
  font-size:110%;
  padding:3px 6px;
  position:relative;
  width:181px;
  z-index:1;
  }
input.searchButton {
  background:url(../images/sprite.png) no-repeat 0 -1305px;
  border:0;
  cursor:pointer;
  font-size:0;
  height:21px;
  vertical-align:top;
  width:28px;
  }
#content input.searchField {
  margin-bottom:1em;
  }

/* LiveSearch */
#LSResult,
.LSResult {
  background:transparent;
  margin:0;
  position:absolute;
  right:-1px;
  top:12px;
  }
#LSResult fieldset,  
.LSResult fieldset {
  background:#fff;
  border:1px solid #bbb;
  padding:1em 0 0;
  }
#livesearchLegend {
  background:#fff;
  border-color:#bbb;
  border-style:solid;
  border-width:1px 1px 0;
  margin-left: -1px;
  margin-top:-24px;
  padding:3px 16px 8px;
  }
#LSResult .LSDescr {
  font-size:1em;
  }
.LSRow,
#LSNothingFound {
  display:block;
  padding:0 1em;
  white-space:normal;
  width:28em;
  }
.LSHighlight {
  background:#ddd;
  }
.LSRow a {
  font-weight:bold;
  white-space:normal;
  }

/*---------- TOP PORTLETS ----------*/
.topPortlets {
  background-color:white;
  float:right;
  margin:0 0 0 2px;
  position:relative;
  width:224px;
  z-index:3;
  }
.topPortlets .visualPadding {
  border:1px solid #ccc;
  height:103px;
  padding:2px 2px 0;
  }
.manageFooterPortletsLink {
  text-align: center;
  }

/*---------- PORTAL LOGO ----------*/
#portal-logo {
  background:url(../images/top_bg.jpg) no-repeat 100% 0;
  display:block;
  margin:0;
  min-height:107px;
  overflow:hidden;
  text-align:right;
  }
#portal-logo img {
  margin:18px 15px 10px 0;
  }

/*---------- PORTAL LANGUAGE SELECTOR ----------*/
#portal-languageselector {
  bottom:0;
  margin:0;
  padding:5px 7px 0;
  position:absolute;
  background:#e3e3e3;
  border-bottom-right-radius:0.5em;
  border-bottom-left-radius:0.5em;
  -webkit-border-bottom-right-radius:0.5em;
  -webkit-border-bottom-left-radius:0.5em;
  -moz-border-radius-bottomleft:0.5em;
  -moz-border-radius-bottomright:0.5em;
  max-width:50%;
  }
#portal-languageselector li {
  background-color: #E8ECF0;
  margin-right:5px;
  }
#portal-languageselector a {
  color:#73A20F;
  text-decoration:none;
  }
.currentItem {
  border:2px solid #fff;
  }

/*---------- PORTAL BREAD CRUMBS ----------*/	
#portal-breadcrumbs {
  background:#dadada url(../images/sprite.png) repeat-x 100% 0;
  border-color:#ccc;
  border-style:solid;
  border-width:0 1px 1px;
  clear:both;
  font-size:1em;
  margin:2px 0 0;
  padding:2px 12px;
  line-height: 1.6em;
  }
#portal-breadcrumbs a {
  color:#73A20F;
  }

/*---------- PORTAL PERSONAL TOOLS ----------*/	
#portal-personaltools {
  background-color:#e8ecf0;
  border:0;
  border-radius:0;
  -webkit-border:0;
  -moz-border:0;
  font-size:1em;
  left:2px;
  padding:3px;
  position:absolute;
  right:auto;
  top:5px;
  }
dl#portal-personaltools.actionMenu {
  margin:0;
  }
#portal-personaltools dt.actionMenuHeader a:after {
  content:" ▼";
  }
#portal-personaltools li {
  margin:0;
  }
#portal-personaltools li a {
  padding:0 0.5em;
  }
#portal-personaltools li a:hover {
  background-color:#fff;
  color:#73A20F;
  }
#portal-personaltools #anon-personalbar a {
  float:left;
  margin-right:0.5em;
  }
#portal-personaltools dd {
  background:#E8ECF0;
  left:0;
  right:auto;
  }

/*---------- PORTAL GLOBAL NAV ----------*/
#portal-globalnav {
  background:transparent;
  font-size:1em;
  margin:0;
  }
#portal-globalnav li {
  background:url(../images/sprite.png) repeat-x 0 0;
  border-color:#ccc;
  border-style:solid;
  border-width:0 1px 0 0;
  float:left;
  margin:0 1px 0 0;
  }
ul#portal-globalnav li a { /* hack for dropdown menu, ul */
  background:url(../images/sprite.png) no-repeat 0 -1134px;
  border:0;
  color:#565656;
  display:block;
  line-height:1.6em;
  margin-right:0;
  min-width:34px;
  padding:4px 20px 3px;
  text-transform:uppercase;
  white-space:nowrap;
  }
ul#portal-globalnav li.selected a, /* hack for dropdown menu, ul */
ul#portal-globalnav li.selected a:hover,
ul#portal-globalnav li a:hover { /* hack for dropdown menu, ul */
  background:transparent url(../images/sprite.png) no-repeat 0 -1134px;
  border:0 1px 0 0;
  color:#000; 
  }
ul#portal-globalnav li.selected a { /* hack for dropdown menu, ul */
  border:0;
  }

/*---------- PORTAL COLUMNS ----------*/
#portal-column-one .visualPadding {
  padding:2px 2px 0 2px;
  border:1px solid #ccc;
  margin:0 2px 0 0;
  }
#portal-column-two .visualPadding {
  padding:2px 2px 0 2px;
  border:1px solid #ccc;
  margin:0 0 0 2px;
  }

/*---------- GENERAL PORTLET OPTIONS ----------*/
dl.portlet {
  border-bottom:0;
  font-size:1em;
  margin:0 0 2px;
  }
dl.portlet a:visited,
dl.portlet a:link {
  border:0;
  color:#565656;
  }
dl.portlet a.tile {
  display:block;
  }  
dl.portlet dt.portletHeader {
  background:#dadada url(../images/sprite.png) repeat-x 100% 0;
  font-weight:normal;
  padding:2px 1em;
  border-width:0 0 1px;
  border-style:solid;
  border-color:#ccc;
  line-height:1.6em;
  text-transform:uppercase;
  color:#565656;
  }
dl.portlet dt.portletHeader a {
  color:#565656;
  }
.portletHeader a:hover {
  color:#000;
  }
dl.portlet dd.portletItem {
  line-height:1.5em;
  padding:10px 5px 0;
  }
dl.portletItem {
  background-color:#fff;
  }
.portletItem a:visited, .portletFooter a:visited {
  color:#565656;
  }
.portletItem a:hover, .portletFooter a:hover {
  color:#000;
  }
dl.portlet dd.portletFooter  {
  padding:0.5em 5px;
  text-align:right;
  }

/*---------- PORTLET NAVIGATION TREE OPTIONS ----------*/
dl.portletNavigationTree {
  background-color:#b4c9dd;
  color:#56616b;
  font-weight:bold;
  line-height:1.6em;
  }
dl.portlet.portletNavigationTree dd.portletItem {
  padding:0 0 1px;
  margin:0 0 2px;
  }
dl.portlet ul.navTreeLevel0 > .navTreeItem {
  border-bottom:0;
  line-height:1.5em;
  margin:0;
  padding:0;
  }
.navTreeItem {
  border-top:1px solid #e7e7e7;
  margin:0;
  }
dd.portletItem .navTreeItem a {
  background: url(../images/sprite.png) no-repeat 10px -675px;
  line-height:1.6em; /* !important added for when the option show icons */
  padding:4px 4px 4px 27px !important; /* !important added for when the option show icons */
  color:#56616b;
  }
dd.portletItem .navTreeItem .state-published {
  color:#56616b !important;
  }
.navTreeItem a:hover, 
dd.portletItem .navTreeItem a:hover {
  color:#56616b;
  }
dl.portlet ul.navTree .navTreeCurrentItem,
dd.portletItem .navTreeItem a:hover {
  background-color:#c9ddf1;
  border:0;
  margin:0;
  }
dd.portletItem ul.navTreeLevel1 .navTreeItem  {
  border-top:0;
  padding:0 0 0 7px;
  }

/*---------- PORTAL-SITEMAP ----------*/

/*---------- PORTLET SEARCH ----------*/
dl.portletSearch {
  background:url(../images/sprite.png) repeat-x 0 0 #dadada;
  border-width:0 0 1px;
  border-style:solid;
  border-color:#ccc;
  }
.portletSearch .portlet-search-gadget {
  border-width:1px 0 0 1px;
  border-style:solid;
  border-color:#c2c2c2;
  padding:2px 7px;
  width:165px;
  }
.portletSearch input.searchButton {
  background-position:0 -1284px;
  }
dl.portletSearch dd.portletFooter {
  padding-left:10px;
  text-align:left;
  }
.portletSearch .LSBox {
  position:relative;
  }  
.portletSearch .livesearchContainer {
  width:207px;
  }
.portletSearch #LSNothingFound,
.portletSearch .LSRow {
  width:auto;
  }
#portal-column-one #livesearchLegend,
#portal-column-two #livesearchLegend {
  display:none;
  }

/*---------- PORTLET LINKS ----------*/
#schools-links a {
  font-weight: bold;
  }

/*---------- PORTLET LOGIN ----------*/
dl.portletLogin {
  margin-bottom:10px;
  }
.portletLogin .field {
  margin:0 0 4px;
  }
.portletLogin .field input[type="text"][size],
.portletLogin .field input {
  border-width:1px;
  border-style:solid;
  border-color:#808080 #d4d0c8 #d4d0c8 #808080;
  padding:1px 2px;
  width:120px;
  }
.portletLogin .formControls {
  margin:12px 0 0;
  }
.portletLogin .formControls input {
  font-size:100%;
  padding:1px 15px;
  }

/*---------- PLONE CALENDAR ----------*/
dl.portlet.portletCalendar dt.portletHeader {
  text-align:center;
  }
dl.portlet.portletCalendar dt.portletHeader a {
  display:inline;
  }
.ploneCalendar .weekdays th {
  background-color: transparent;
  }
.ploneCalendar td {
  background-color: #e1e1e1;
  }

/*---------- PORTLET EVENTS ----------*/
.portletItemDetails {
  color:#565656;
  font-size:1em;
  font-weight:bold;
  margin:0;
  padding:0;
  }

/*---------- PORTAL FOOTER ----------*/
#portal-footer {
  background:#8da7bf url(../images/sprite.png) repeat-x 0 -484px;
  font-size:1em;
  margin:2px 0 0;
  padding:10px 7px 5px;
  border-width:0 1px 1px;
  border-style:solid;
  border-color:#ccc;
  color:#dbe6f0;
 clear:both;
 text-align: center;
  }
#portal-footer acronym {
  color: #dbe6f0;
  border: 0 none;
  }
#portal-footer a {
  color: White;
  font-weight: bold;
  }
#portal-footer a:hover {
  text-decoration: none;
  }
#portal-footer a:visited {
  color: White;
  }

/*---------- PORTAL COLOPHON ----------*/
#portal-colophon {
  background-color:#fff;
  font-size:1em;
  margin:0 -3px;
  padding:0.5em 0;
  position:relative;
  }
#portal-colophon ul {
  margin: 0;
  }

/*---------- FIXES FOR QUINTAGROUP.DROPDOWNMENU----------*/
ul#portal-globalnav:hover li:hover > a {
  background-color:transparent;
  color:#000000 !important;
  }
ul#portal-globalnav ul li a.hasChildrens:hover {
  background-color:transparent;
  }
ul#portal-globalnav ul li a {
  border-top:1px solid #DADADA;
  }

/*---------- FIXES ----------*/
.discreet {
  margin:0 !important;
  }
div.overlay {
  font-size:100%;
  }  

/*---------- CONTENT ACTIONS ----------*/
#plone-contentmenu-factories .actionMenuContent li a:hover {
  background-color:#74AE0B !important;
  }
.icons-on #plone-contentmenu-factories .contenttype-file,
.icons-on #plone-contentmenu-factories .contenttype-image {
  display: block;
  }

/*---------- DOCUMENT ACTIONS ----------*/
.documentActions ul {
  margin:-0.9em 0 0!important;
  }

/*---------- CAROUSEL ----------*/
.carousel {
  background: url(../images/sprite.png) repeat-x scroll 0 -150px #D2DEEB;
  border: 1px solid #CCCCCC;
  clear:both;
  height: 333px;
  margin-bottom:2px;
  overflow: hidden;
  position: relative;
  }
.carousel-banners {
  overflow: visible !important;
  text-align: center;
  position: static !important;
  width: 100% !important; 
  }
.carousel-banner {
  margin-top: 7px;
  overflow: visible !important;
  position: static !important;
  width: 100% !important;
  }
.carousel-banner-1 {
  display:block;
  }          
#carousel-over {
  background: url(../images/photo-frame.png) no-repeat scroll 50% 0 transparent;
  height: 334px;
  position: absolute;
  top: 0;
  width: 100%;
  }
.carousel-text {
  background-color: transparent;
  bottom: 0;
  display:none;
  left: auto;
  margin-left: 150px;
  padding: 0 1em 1em;
  position: absolute;
  right: 0;
  text-align: right;
  width: auto;
  z-index:1;
  }
.carousel-banner-active .carousel-text {
  display:block;
  }
a.carousel-title,
.carousel-title {
  font-size: 1.36em;
  font-weight:bold;
  color: #FFFFFF;
  }
.carousel-body {
  color: #FFFFFF;
  font-size: 1.09em;
  font-weight: bold; 
  }
.carousel-pager {
  bottom: 0;
  left: 0;
  margin: 0.75em 0.5em;
  position: absolute;
  }
.carousel-pager-item,
.carousel-pager-button-prev,
.carousel-pager-button-next {
  background-color: #DDDDDD;
  margin-right:1px;
  padding:1px 4px;
  }
.carousel-pager-item-active {
  background-color: #75AD0A;
  }
.carousel-pager-item-active:link,
.carousel-pager-item-active:visited,
.carousel-pager-item-active .carousel-title {
  color: white;
  }
.carousel-pager-item-classic {
  cursor: pointer;
  }
.carousel-settings-introduction {
  margin-bottom: 1em;
  }
