/*---------- GENERAL MARKUP ----------*/
#visual-portal-wrapper {
  border-color:#ccc;
  border-style:solid;
  border-width:0 1px;
  margin:0 auto;
  padding:0 2px;
  position:relative;
  width:993px;
  }
#portal-top {
  margin-bottom:2px;
  padding:2.55em 0 0;
  }
#portal-header {
  position:relative;
  }

/*---------- CONTENT STYLES ----------*/

.dContent {
border: 1px solid #CCCCCC;
clear: both;
font-size:110%;
padding: 0 10px 20px;
}

.documentFirstHeading {
  border-bottom:0;
  color:#627a8f;
  font-size:130%;
  margin:15px 0 10px;
  padding:0;
  text-transform:uppercase;
  }
body.kssActive h1.documentFirstHeading.inlineEditable:hover {
  padding:1px 1px 3px;
  }
table.listing ul li, .stx table ul li {
  background-position:0 -878px;
  padding-left:11px;
  }
.documentActions ul li {
  background-image:none;
  padding-left:0.5em;
  }
.documentContent ul .formTab {
  background-image:none;
  padding-left:0;
  }
.context,
.formControls .actionButtons .button,
.documentEditable * .context,
.standalone,
.documentEditable * .standalone,
.destructive,
.documentEditable * .destructive {
  background-image:none;
  font-size:100%;
  padding:1px 3px;
  }
.contentViews {
  clear:both;
  padding-top:1em;
  position: relative;
  }
.tileHeadline a {
  text-decoration: underline;
  color: #73a20f !important;
  }
.themeComment {
  left:-9999px;
  position:absolute;
  }
.managePortletsLink {
  padding:0 0 5px;
  }
.managePortletsFallback { 
  font-size: 85%;
  }

/*---------- PORTAL SITE ACTIONS ----------*/
#portal-siteactions {
  border-color:#ccc;
  border-style:solid;
  border-width:1px 1px 1px 0;
  height:2em;
  left:0;
/*  margin:0;
  padding:0;*/
  position:absolute;
  top:2px;
  width:766px;
  }
#portal-siteactions li {
  border-left:1px solid #ccc;
  float:right;
  margin: 0;
  }
#portal-siteactions li:first-child {
  float:left;
  }
#portal-siteactions li a {
  border:0;
  color:#000;
  display:block;
  margin:0;
  padding:4px 5px 5px;
  text-transform:none;
  }
#portal-siteactions li a:hover {
  background-color:#f6f6f6;
  border:0;
  color:#000;
  }

/*---------- PORTAL SEARCH BOX ----------*/
#portal-searchbox {
  border:1px solid #ccc;
  height:2em;
/*  overflow:visible !important;*/
  position:absolute;
  right:0;
  top:2px;
  width:222px;
  z-index:3;
  }
.LSBox {
  float:none;
  text-align:left;
  }
#portal-searchbox #searchGadget {
  background:none;
  border:0;
  font-size:110%;
  padding:3px 6px;
  width:142px;

position: relative;
z-index: 1;

  }
input.searchButton {
  background:none;
  border:0;
  font-size:100%;
  margin:0 !important;
position:relative;
z-index:1;
  padding:0;  
  text-transform:none;
  }
#portal-searchbox input.searchButton {
  border-left:1px solid #ccc;
  color:#b4b5b5;
  cursor:pointer;
  font-size:110%;
  padding:3px 6px;
  text-align:center;
  width:68px;
  }
/*.searchSection {
  display:none;
  }*/
.LSResult {
right:-1px;
/*  left:2px;*/
/*  padding:0;*/
  top:12px;
  }
/*.livesearchContainer {
  width:308px;
  }*/
/*#livesearchLegend {
  margin-top:-26px;
  margin-left:-1px;
  padding:8px 9px 8px 8px;
  }*/
/*.LSTable {
  margin-left:0;
  }
*/
.portletSearch .LSResult {
  left:-8px;
  padding:0;
  text-align:left;
  top:0.4em;
  }
#LSResult fieldset {
    padding: 1em 0 0;
    background: White;
    border:1px solid #bbb;
}
#livesearchLegend {
    background-color:#ccc;
    background: White;
    border-color:#bbb;
    border-style:solid;
    border-width:1px 1px 0;

    margin-left: -1px;
        margin-top:-24px;
            padding:3px 16px 8px;

}
.portletSearch .livesearchContainer {
  left:0;
  }
#portal-column-one .portletSearch .livesearchContainer {
  top:0 !important;
  width:160px;
  }
#portal-column-two .portletSearch .livesearchContainer {
  width:160px;
  }
.LSRow a {
  font-weight:bold;
  white-space:normal;
  }
#portal-column-one #livesearchLegend,
#portal-column-two #livesearchLegend {
  position:absolute;
  left:-9999px;
  }

/*---------- TOP PORTLETS ----------*/
.topPortlets {
  background-color: white;
  float:right;
  margin:0 0 0 2px;
  width:224px;
  }
.topPortlets .visualPadding {
  border:1px solid #ccc;
  height:103px;
  padding:2px 2px 0;
  }
.manageFooterPortletsLink {
  text-align: center;
  }

/*---------- PORTAL LOGO ----------*/
#portal-logo {
  background:url(../images/top_bg.jpg) no-repeat 100% 0;
  display:block;
  min-height:107px;
  overflow:hidden;
  text-align:right;
  }
#portal-logo img {
  margin:18px 15px 10px 0;
  }

/*---------- PORTAL LANGUAGE SELECTOR ----------*/
#portal-languageselector {
  bottom:0;
  margin:0;
  padding:5px 7px 0;
  position:absolute;
  }
#portal-languageselector li {
  background-color: #E8ECF0;
  margin-right:5px;
  }
#portal-languageselector a {
  color:#73A20F;
  text-decoration:none;
  }
.currentItem {
  border:2px solid #fff;
  }

/*---------- PORTAL BREAD CRUMBS ----------*/	
#portal-breadcrumbs {
  background:#dadada url(../images/sprite.png) repeat-x 100% 0;
  border-color:#ccc;
  border-style:solid;
  border-width:0 1px 1px;
  margin:2px 0 0;
  padding:2px 12px;
        line-height: 1.6em;
  text-transform:none;
  }



/*---------- PORTAL PERSONAL TOOLS ----------*/	
#portal-personaltools {
  background-color:#e8ecf0;
  border:0;
/*  border-top:0;*/
left:2px;
padding:3px;
  position:absolute;
  text-align:left;
  text-transform:none;
  top:5px;
  }
dl#portal-personaltools.actionMenu {
  margin:0;
  }
#portal-personaltools li {
  margin:0;
  }
#portal-personaltools li a {
  color:#73a20f;
  padding:0 0.5em;
  }
#portal-personaltools li a:hover {
  background-color:#fff;
  }

/*---------- PORTAL GLOBAL NAV ----------*/
/*#portal-globalnav {
  padding:0;
  }*/

#portal-globalnav li {
  background:url(../images/sprite.png) repeat-x 0 0;
  border-color:#ccc;
  border-style:solid;
  border-width:0 1px 0 0;
  float:left;
  margin:0 1px 0 0;
  }
ul#portal-globalnav li a { /* hack for dropdown menu, ul */
  background:url(../images/sprite.png) no-repeat 0 -1134px;
  border:0;
  color:#565656;
  display:block;
  line-height:1.6em;
  margin-right:0;
  padding:4px 20px 3px;
  text-transform:uppercase;
  white-space:nowrap;
  }
ul#portal-globalnav li.selected a, /* hack for dropdown menu, ul */
ul#portal-globalnav li a:hover { /* hack for dropdown menu, ul */
  background-color:transparent; 
  border:0 1px 0 0;
  color:#000; 
  }
ul#portal-globalnav li.selected a { /* hack for dropdown menu, ul */
  border:0;
  }

/*---------- PORTAL COLUMNS ----------*/
#portal-column-one .visualPadding {
  padding:2px 2px 0 2px;
  border:1px solid #ccc;
  margin:0 2px 0 0;
  }
#portal-column-two .visualPadding {
  padding:2px 2px 0 2px;
  border:1px solid #ccc;
  margin:0 0 0 2px;
  }

/*---------- GENERAL PORTLET OPTIONS ----------*/
dl.portlet .hiddenStructure {
  padding:0;
  }
dl.portlet {
  border-bottom:0;
  margin:0 0 2px;
  }
.portlet a {
  color:#565656;
  }
.portletHeader {
  background:#dadada url(../images/sprite.png) repeat-x 100% 0;
  padding:2px 1em;
  border-width:0 0 1px;
  border-style:solid;
  border-color:#ccc;
  text-transform:uppercase;
  color:#565656;
  }
.portletHeader a:hover {
  color:#000;
  }
.portletItem {
  border:0;
  padding:10px 5px 0;
  }
dl.portletItem {
  background-color:#fff;
  }
.portletItem a:visited, .portletFooter a:visited {
  color:#565656;
  }
.portletItem a:hover, .portletFooter a:hover {
  color:#000;
  }
dd.portletFooter  {
  border:0;
  }

/*---------- PORTLET NAVIGATION TREE OPTIONS ----------*/
.portletNavigationTree {
  background-color:#b4c9dd;
  color:#56616b;
  font-weight:bold;
  line-height:1.6em;
  }
.portletNavigationTree .portletItem {
  padding:0 0 1px;
  margin:0 0 2px;
  }
.portletNavigationTree img {
  display: none; 
  }
.portletNavigationTree .contenttype-news-item,
.portletNavigationTree .contenttype-event,
.portletNavigationTree .contenttype-folder,
.portletNavigationTree .contenttype-topic,
.portletNavigationTree .contenttype-link,
.portletNavigationTree .contenttype-document {
  background: none;
  } 
.navTreeItem {
  padding:0 0 0 7px;
  border-top:1px solid #e7e7e7;
  }
dd.portletItem .navTreeItem a {
  background: url(../images/sprite.png) no-repeat 0 -676px;
  line-height:1.6em !important; /* !important added for when the option show icons */
  padding:4px 4px 4px 20px !important; /* !important added for when the option show icons */
  border:0;
  color:#56616b;
  }
dd.portletItem .navTreeItem .state-published {
  color:#56616b !important;
  }
.navTreeCurrentItem {
  border:0 !important;
  }
dd.portletItem .navTreeItem a:hover,
dd.portletItem .navTreeItem .navTreeCurrentItem  {
  background-color:transparent;
  }
.navTreeItem a:hover, 
dd.portletItem .navTreeItem a:hover {
  border:0;
  color:#56616b;
  }
dd.portletItem .navTreeLevel2 .navTreeItem  {
  border-top:0;
  }

/*---------- PORTAL-SITEMAP ----------*/
#portal-sitemap {
  line-height:1.5em;
  }
#portal-sitemap li {
  border:0;
  list-style-image:none;
  list-style-type:none;
  }
#portal-sitemap .navTreeLevel2 {
  border-left:0;
  }
#portal-sitemap li a {
  border:1px solid #fff;
  text-decoration:none;
  }
#portal-sitemap a:hover {
  border-color:#fff;
  }

/*---------- PORTLET LINKS ----------*/
#schools-links a {
  font-weight: bold;
  }

/*---------- PORTLET LOGIN ----------*/
dl.portletLogin {
  margin-bottom: 0.5em;
  }
#login_form { 
  margin-top: em;
  text-align: right;
  }
#login-form .formControls {
  text-align: center;
  }
#login-form input.context {
  padding: 1px 10px;
  }

/*---------- PLONE CALENDAR ----------*/
.ploneCalendar .weekdays th {
  background-color: transparent;
  }
.ploneCalendar td {
  background-color: #e1e1e1;
  }

/*---------- PORTLET EVENTS ----------*/
.portletItemDetails {
  text-align: left;
  font-weight: bold;
  color: #565656;
  }

/*---------- PORTAL FOOTER ----------*/
#portal-footer {
  background:#8da7bf url(../images/sprite.png) repeat-x 0 -484px;
  margin:2px 0 0;
  padding:10px 7px 5px;
  border-width:0 1px 1px;
  border-style:solid;
  border-color:#ccc;
  color:#dbe6f0;
 clear:both;
 text-align: center;
  }
#portal-footer acronym {
  color: #dbe6f0;
  border: 0 none;
  }
#portal-footer a {
  color: White;
  font-weight: bold;
  }
#portal-footer a:hover {
  text-decoration: none;
  }
#portal-footer a:visited {
  color: White;
  }

/*---------- PORTAL COLOPHON ----------*/
#portal-colophon {
  background-color:#fff;
  margin:0 -3px;
  padding:0.5em 0;
  position:relative;
  }
#portal-colophon ul {
  margin: 0;
  }

/*---------- FIXES FOR QUINTAGROUP.DROPDOWNMENU----------*/
ul#portal-globalnav:hover li:hover > a {
  background-color:transparent;
  color:#000000 !important;
  }
ul#portal-globalnav ul li a.hasChildrens:hover {
  background-color:transparent;
  }
ul#portal-globalnav ul li a {
  border-top:1px solid #DADADA;
  }

/*---------- FIXES ----------*/
.hiddenStructure {
  position:absolute;
  }
.actionMenu .actionMenuContent {
  left:-3px;
  top:1.6em;
  }
.actionMenu .actionMenuContent ul {
  margin:-2px 0 0 2px;
  }
.discreet {
  margin:0 !important;
  }

/*---------- CONTENT ACTIONS ----------*/
#plone-contentmenu-factories .actionMenuContent li a:hover {
  background-color:#74AE0B !important;
  }
.icons-on #plone-contentmenu-factories .contenttype-file,
.icons-on #plone-contentmenu-factories .contenttype-image {
  display: block;
  }

/*---------- DOCUMENT ACTIONS ----------*/
.documentActions ul {
  margin:-0.9em 0 0!important;
  }

/*---------- CAROUSEL ----------*/
.carousel {
  background: url(../images/sprite.png) repeat-x scroll 0 -150px #D2DEEB;
  border: 1px solid #CCCCCC;
  clear:both;
  height: 333px;
  margin-bottom:2px;
  overflow: hidden;
  position: relative;
  }
.carousel-banners {
  overflow: visible !important;
  text-align: center;
  position: static !important;
  width: 100% !important; 
  }
.carousel-banner {
  margin-top: 7px;
  overflow: visible !important;
  position: static !important;
  width: 100% !important;
  }
.carousel-banner-1 {
  display:block;
  }          
#carousel-over {
  background: url(../images/photo-frame.png) no-repeat scroll 50% 0 transparent;
  height: 334px;
  position: absolute;
  top: 0;
  width: 100%;
  }
.carousel-text {
  background-color: transparent;
  bottom: 0;
  left: auto;
  margin-left: 150px;
  padding: 0 1em;
  position: absolute;
  right: 0;
  text-align: right;
  width: auto;
  }
.carousel-banner-active .carousel-text {
  z-index:1;
  }
.carousel-title {
  font-size: 1.36em;
  font-weight:bold;
  color: #FFFFFF;
  }
.carousel-body {
  color: #FFFFFF;
  font-size: 1.09em;
  font-weight: bold; 
  }
.carousel-pager {
  bottom: 0;
  left: 0;
  margin: 0.75em 0;
  position: absolute;
  }
.carousel-pager-item,
.carousel-pager-button-prev,
.carousel-pager-button-next {
  background-color: #DDDDDD;
  padding: 0.25em 0.5em;
  }
.carousel-pager-item-active {
  background-color: #75AD0A;
  }
.carousel-pager-item-active:link,
.carousel-pager-item-active:visited,
.carousel-pager-item-active .carousel-title {
  color: white;
  }
.carousel-pager-item-classic {
  cursor: pointer;
  }
.carousel-settings-introduction {
  margin-bottom: 1em;
  }
