@media screen {

/*----- Reset -----*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
  }
table {
  border-collapse:collapse;
  border-spacing:0;
  }
fieldset,img { 
  border:0;
  }
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
  }
ol,ul {
  list-style:none;
  }
caption,th {
  text-align:left;
  }
q:before,q:after {
  content:'';
  }
abbr,acronym {
  border:0;
  }

/*----- Layout -----*/
div.row {
  float: left;
  width: 100%;
  display: block;
  position: relative;
  }
div.cell {
  position: relative;
  float: left;
  left: 100%;
  }

/*---------- Styles Sunburst  ----------*/
/*---------- Style where the margin is 10px ----------*/
/*----- For a given cell width -----*/ 
div.width-1  { width:  5.3125% }
div.width-2  { width: 11.625% }
div.width-3  { width: 17.9375% }
div.width-4  { width: 24.25% }
div.width-5  { width: 30.5625% }
div.width-6  { width: 36.875% }
div.width-7  { width: 43.1875% }
div.width-8  { width: 49.5% }
div.width-9  { width: 55.8125% }
div.width-10 { width: 62.125% }
div.width-11 { width: 68.4375% }
div.width-12 { width: 74.75% }
div.width-13 { width: 81.0625% }
div.width-14 { width: 87.375% }
div.width-15 { width: 93.6875% }
div.width-16 { width: 100% }

/*----- Positioning classes -----*/ 
div.position-0  { margin-left: -100% }
div.position-1  { margin-left: -93.75% }
div.position-2  { margin-left: -87.5%  }
div.position-3  { margin-left: -81.08% }
div.position-4  { margin-left: -74.75% }
div.position-5  { margin-left: -68.5% }
div.position-6  { margin-left: -62.1% }
div.position-7  { margin-left: -55.9% }
div.position-8  { margin-left: -49.45% }
div.position-9  { margin-left: -43.18% }
div.position-10 { margin-left: -36.87% }
div.position-11 { margin-left: -30.56% }
div.position-12 { margin-left: -24.24% }
div.position-13 { margin-left: -17.93% }
div.position-14 { margin-left: -11.62% }
div.position-15 { margin-left:  -5.31% }

/* Convenience classes — ¼, ½, ¾ widths and ¼, ½, ¾ positions. 
   Not strictly necessary. */
div.width-1\3a 2 { width:    49.5% } /* .width-1:2 */
div.width-1\3a 4 { width:    24.3% } /* .width-1:4 */
div.width-3\3a 4 { width:    74.7% } /* .width-3:4 */
div.position-1\3a 4 {margin-left:    -74.65% } /* .position-1:4 */
div.position-1\3a 2 {margin-left:    -49.45% } /* .position-1:2 */
div.position-3\3a 4 {margin-left:    -24.25% } /* .position-3:4 */


/* Special classes for ⅓, ⅔ widths and ⅓, ⅔ positions. 
These do not strictly conform to the grid, but are useful for certain layouts. */
div.width-1\3a 3 { width: 32.66%; } /* .width-1:3 */
div.width-2\3a 3 { width: 66.4%; } /* .width-2:3 */
div.position-1\3a 3 {margin-left: -66.35%;} /* .position-1:3 */
div.position-2\3a 3 {margin-left: -32.65%;} /* .position-2:3 */

/* Full/leftmost are useful synonyms for full width and leftmost positioning */
div.position-leftmost  { margin-left: -100%   }
div.width-full { width: 100% }

/* Define classes for 1/5ths and 1/6ths widths and positions. */
.row div.width-1\3a 5 { width:    19.2%; } /* .width-1:5 */
.row div.position-1\3a 5 {margin-left:    -79.8%;} /* .position-1:5 */
.row div.position-2\3a 5 {margin-left:    -59.6%;} /* .position-2:5 */
.row div.position-3\3a 5 {margin-left:    -39.4%;} /* .position-3:5 */
.row div.position-4\3a 5 {margin-left:    -19.15%;} /* .position-4:5 */

.row div.width-1\3a 6 { width:    15.8333%; } /* .width-1:6 */
.row div.position-1\3a 6 {margin-left:    -83.16%;} /* .position-1:6 */
.row div.position-5\3a 6 {margin-left:    -15.83%;} /* .position-5:6 */

/*----- General Styles -----*/
body {
  background-color:#fff;
  color:#000;
  font:69% Verdana, Geneva, sans-serif;
  }
input {
  font-family:Verdana,Geneva,sans-serif;
  vertical-align:middle;
  }
input[type="checkbox"],
input[type="radio"] {
  margin-right:3px;
  }
a {
  color:#73a20f;
  text-decoration:none;
  }
a:visited {
  color:#a4b089;
  }
h1, h2, h3, h4, h5, h6 {
  color:#000;
  font-weight:bold;
  line-height:1.25em;
  margin:0.75em 0 0.25em;
  }
h1, h2 {
  border-bottom:1px solid #ccc;
  font-weight:normal;
  letter-spacing:0;
  }
h1 {
  border-bottom:0;
  color:#627a8f;
  font-size:130%;
  margin:15px 0 10px;
  padding:0;
  text-transform:uppercase;
  }
h2 {
  font-size:150%;
  }
h3 {
  font-size:1.25em;
  }
h4 {
  font-size:1.25em;
  }
h5 {
  font-size:1em;
  }
h6 {
  font-size:0.8em;
  }
p {
  margin-bottom:0.75em;
  }
#description,
.documentDescription {
  font-weight:bold;
  margin:0 0 0.5em;
  }
ol {
  list-style-type:decimal;
  margin:0 0 18px 27px;
  }
img {
  vertical-align:text-bottom;
  }
#content li ul,
#content li ol {
  margin-top:0;
  margin-bottom:0;
  }
dl {
  margin:0 0 1em;
  }
dt {
  font-weight:bold;
  }
  /*
dd {
  margin:0 0 0.5em 27px;
  }*/
strong {
  font-weight:bold;
  }
pre {
  background-color:#222;
  color:#fff;
  font-size:12px;
  font-family:monospace;
  margin-bottom:1em;
  padding:1em;
  overflow-x:auto;
  }
.pullquote {
  border-left: 4px solid #CCCCCC;
  clear: right;
  color: #CC9933;
  float: right;
  font-weight: bold;
  margin: 0 0 1em 1em;
  padding: 0 1em;
  width: 35%;
  }
#content .callout {
  background-color:#EEE;
  border-left:1em solid #CCCCCC;
  clear:both;
  padding:1em;
  }
#content .visualHighlight {
  background-color: #FFFFBB;
  }
.label {
  font-weight:bold;
  }
label {
  font-weight:bold;
  vertical-align:middle;
  }
.hiddenStructure {
  display:none;
  }
.visualClear {
  clear:both;
  }
  
/* Image alignment classes */
.image-left {
  clear:both;
  float:left;
  margin:0.5em 1em 0.5em 0;
  }
.image-right {
  clear:both;
  float:right;
  margin:0.5em 0 0.5em 1em;
  }
.image-inline {
  float:none;
  }
.image-caption {
  color:#868686;
  font-size:0.92em;
  font-style:italic;
  line-height:1.27em;
  margin:2px 1em 0;
  padding:0; 
  }
.newsImageContainer {
  float:right;
  margin:0 0 0.5em 1em;
  }
.tileImage {
  border:1px solid #000;
  float:right;
  margin:0 0 0.5em 0.5em;
  }

/*----- Tables -----*/
#content table {
  margin:0 0 1em;
  width:100%;
  }

/*----- Forms -----*/
fieldset {
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:1em 0;
  }
.field {
  clear:both;
  margin:0 0 1em;
  }
div.field.error {
  background-color:#fdc;
  border:1px solid red;
  margin:1em 0;
  padding:0.5em;
  }
.formControls {
  margin:1em 0;
  }
.formControls input {
  margin-right:4px;
  }
.context {
  margin-right:4px;
  padding:0 3px;
  }
.standalone {
  margin-right:4px;
  padding:0 3px;
  }

/*----- General -----*/
#visual-portal-wrapper {
  border-color:#ccc;
  border-style:solid;
  border-width:0 1px;
  margin:0 auto;
  padding:0 2px;
  position:relative;
  width:993px;
  }
#portal-top {
  margin-bottom:2px;
  padding:2.55em 0 0;
  }
#portal-header {
  background-image:url(../images/bg-header.jpg);
  background-position:0 0;
  background-repeat:no-repeat;
  position:relative;
  z-index:2;
  }

/*---------- PORTAL COLUMNS ----------*/
#portal-columns {
  margin-bottom:2px;
  }
#portal-column-content.width-1\3a 2 {
  width:541px;
  }
#portal-column-content.width-3\3a 4 {
  width:767px;
  }
#portal-column-content.position-1\3a 4 {
  margin-left:-767px;
  }
#portal-column-one {
  width:226px;
  }
#portal-column-two {
  margin-left:-226px;
  width:226px;
  }
#portal-column-one .visualPadding {
  padding:2px 2px 0 2px;
  border:1px solid #ccc;
  margin:0 2px 0 0;
  }
#portal-column-two .visualPadding {
  padding:2px 2px 0 2px;
  border:1px solid #ccc;
  margin:0 0 0 2px;
  }

/*---------- TOP PORTLETS ----------*/
.topPortlets {
  background-color:white;
  float:right;
  padding:0 0 0 2px;
  position:relative;
  width:224px;
  z-index:3;
  }
.topPortlets .visualPadding {
  border:1px solid #ccc;
  margin-bottom:2px;
  min-height:103px;
  padding:2px 2px 0;
  }
.topPortlets .portletItem {
  padding:5px 5px 0;
  }  

/*---------- CONTENT STYLES ----------*/
.documentContent {
  border: 1px solid #CCCCCC;
  clear: both;
  font-size:1.1em;
  margin-bottom:2px;
  padding: 0 10px;
  }
#content {
  clear:both;
  line-height:1.5em;
  margin:1em 0.25em 2em;
  }
#content a {
  text-decoration:underline;
  }  
#content ul {
  list-style-image:none;
  list-style-type:none;
  margin-left:22px;
  }
#content ul li {
  background-image:url(../images/sprite.png);
  background-position:0 -1345px;
  background-repeat:no-repeat;
  padding-left:14px;
  }
#content .discreet,
#sidebar .discreet {
  color: #666;
  font-size: 85%;
  font-weight: normal;
  }
#content .documentByLine {
  font-size: 85%;
  display: block;
  color: #666;
  }
.tileItem.visualIEFloatFix h2 {
  border:0;
  }
body#content.mceContentBody {
  border:0;
  margin: 0;
  padding: 10px;
  }

/* CATEGORY */
#category {
  margin:1em;
  color:#666;
  text-align:right;
  }
#category a.link-category, span.selectedTag {
  color: black;
  padding: 0.25em 0.5em;
  background: #ddd;
  }
#category a.link-category:hover {
  background: #73A20F;
  color: White;
  border-color: #205c90;
  }
#category .separator {
  display: none;
  }

/*---------- DOCUMENT ACTIONS ----------*/
#content .documentActions ul {
  font-size:0.92em;
  list-style-image:none;
  list-style-type:none;
  margin:2em 0 0;
  text-align:right;
  }
#content .documentActions ul li {
  background-image:none;
  display:inline;
  padding:0;
  }
#content .documentActions a {
  color: black;
  padding: 0.25em 0.5em;
  background: #ddd;
  text-decoration:none;
  }
#content .documentActions a:hover {
  background: #73A20F;
  color:#fff;
  border-color: #205c90;
  }

/*----- VIEWLETS -----*/
/*---------- PORTAL SITE ACTIONS ----------*/
#portal-siteactions {
  border-color:#ccc;
  border-style:solid;
  border-width:1px 1px 1px 0;
  font-size:1em;
  height:2em;
  left:0;
  padding:0;
  position:absolute;
  top:2px;
  width:766px;
  }
#portal-siteactions li {
  border-left:1px solid #ccc;
  float:right;
  margin: 0;
  }
#portal-siteactions li:first-child {
  float:left;
  }
#portal-siteactions li a {
  color:#000;
  display:block;
  padding:4px 5px 5px;
  }
#portal-siteactions li a:hover {
  background-color:#f6f6f6;
  border:0;
  color:#000;
  }

/*---------- PORTAL SEARCH BOX ----------*/
.collapsible .collapser.collapsed:after {
  content:" ▶"
  }
.collapsible .collapser.expanded:after {
  content:" ▼"
  }
div#portal-searchbox {
  border:1px solid #ccc;
  position:absolute;
  right:0;
  top:2px;
  width:222px;
  z-index:3;
  }
#portal-searchbox form {
  white-space:nowrap;
  }
#portal-searchbox #searchGadget {
  border:0;
  padding:3px 6px;
  position:relative;
  width:181px;
  z-index:1;
  }
input.inputLabelActive {
  color:#76797C;
  }  
input.searchButton {
  background:url(../images/sprite.png) no-repeat 0 -1105px;
  border:0;
  cursor:pointer;
  font-size:0;
  height:21px;
  vertical-align:top;
  width:28px;
  }
#content input.searchField {
  margin-bottom:1em;
  }
input.searchPage {
  border-color:#808080 #d4d0c8 #d4d0c8 #808080;
  border-style:solid;
  border-width:1px;
  font-size:1.6em;
  padding:4px 6px 3px;
  }
input.searchButton.searchPage {
  background:url(../images/sprite.png) no-repeat 0 -1126px;
  border:0;
  font-size:0 !important; 
  height:32px;
  margin-left:2px;
  width:35px;
  }

/* LiveSearch */
.LSResult {
  background-color:#fff;
  border:1px solid #bbb;
  display:none;
  margin:0;
  position:absolute;
  right:-1px;
  top:23px;
  z-index:2;
  }
#LSResult {
  background:transparent;
  border:0;
  top:12px;
  }
.LSResult fieldset {
  background:#fff;
  padding:0.5em 0 0;
  }
#LSResult fieldset {
  border:1px solid #bbb;
  padding:1.2em 0 0;
  }
#livesearchLegend {
  background:#fff;
  border-color:#bbb;
  border-style:solid;
  border-width:1px 1px 0;
  display:none;
  margin-left: -1px;
  margin-top:-24px;
  padding:3px 16px 8px;
  }
#portal-searchbox #livesearchLegend {
  display:block;
  }
.LSRow,
#LSNothingFound {
  display:block;
  padding:0 1em 1em;
  white-space:normal;
  width:28em;
  }
.LSHighlight {
  background:#ddd;
  }
.LSRow a {
  font-weight:bold;
  line-height:1.6em;
  white-space:normal;
  }
.LSDescr {
  color:#777;
  font-size:1em;
  margin-left:7px;
  }

/*---------- PORTAL SLOGAN ----------*/
#portal-slogan {
  color:#D0E1F3;
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.622em;
  height:107px;
  left:0;
  position:absolute;
  text-shadow: 1px 1px 1px #7492AE;
  /*filter: dropshadow(color=#7492AE, offx=1, offy=1); */
  top:0;
  width:370px;
  }
#portal-slogan span {
  display:inline-block;
  padding:0 0 0 80px;
  vertical-align:middle;
  width:289px;
  }
#portal-slogan .heightImmitator {
  display:inline-block;
  height:107px;
  padding:0;
  vertical-align:middle;
  width:1px;
  }

/*---------- PORTAL LOGO ----------*/
#portal-logo {
  background:url(../images/bg-logo.png) no-repeat 100% 0;
  display:block;
  min-height:107px;
  overflow:hidden;
  padding:0 15px 0 0;
  position:relative;
  text-align:right;
  }
#portal-logo .heightImmitator {
  display:inline-block;
  height:107px;
  vertical-align:middle;
  }
#portal-logo img {
  display:inline-block;
  vertical-align:middle;
  }
  
/*---------- PORTAL BREAD CRUMBS ----------*/	
#portal-breadcrumbs {
  background:#dadada url(../images/sprite.png) repeat-x 100% 0;
  border-color:#ccc;
  border-style:solid;
  border-width:0 1px 1px;
  clear:both;
  margin:2px 0 0;
  padding:2px 12px;
  line-height: 1.6em;
  }
#portal-breadcrumbs a:visited {
  color:#73A20F;
  }

/*----- PORTAL GLOBALBNAV -----*/
#portal-globalnav {
  background:transparent;
  font-size:1em;
  margin:0;
  }
#portal-globalnav li {
  background:url(../images/sprite.png) repeat-x 0 0;
  border-color:#ccc;
  border-style:solid;
  border-width:0 1px 0 0;
  float:left;
  margin:0 1px 0 0;
  }
ul#portal-globalnav li a { /* hack for dropdown menu, ul */
  border:0;
  color:#565656;
  display:block;
  line-height:1.6em;
  margin-right:0;
  min-width:34px;
  padding:4px 20px 3px;
  text-transform:uppercase;
  white-space:nowrap;
  }
ul#portal-globalnav li > a {
  background:url(../images/sprite.png) no-repeat 0 -934px;
  }

#portal-globalnav li.selected a,
#portal-globalnav li.selected a:hover,
#portal-globalnav li a:hover {
  background:transparent url(../images/sprite.png) no-repeat 0 -934px;
  color:#000; 
  }
ul#portal-globalnav li.selected a { /* hack for dropdown menu, ul */
  background-color:transparent;
  color:#000;
  }

/*---------- FIXES FOR QUINTAGROUP.DROPDOWNMENU----------*/
#portal-globalnav ul li {
  background:#ddd;
  }
#portal-globalnav ul li:hover {
  background:#ccc;
  }
#portal-globalnav ul li a { 
  background:transparent;
  }
ul#portal-globalnav ul li a { 
  color:#565656;
  }
#portal-globalnav li.selected ul a, 
#portal-globalnav li.selected ul a:hover, 
#portal-globalnav li ul a:hover {
  background:#ccc;
  color:#000;
  }
ul#portal-globalnav li.selected ul li a {
  color:#565656;
  }
ul#portal-globalnav ul li a.hasChildrens:hover {
  background-color:#ccc;
  }
ul#portal-globalnav:hover li:hover > a {
  background-color:transparent;
  color:#000;
  }

/*---------- CAROUSEL ----------*/
div.carousel {
  background: url(../images/sprite.png) repeat-x scroll 0 -150px #D2DEEB;
  border: 1px solid #CCCCCC;
  clear:both;
  height: 333px;
  margin-bottom:2px;
  overflow: hidden;
  position: relative;
  }
.carousel-banners {
  overflow: visible !important;
  text-align: center;
  position: static !important;
  width: 100% !important; 
  }
.carousel-banner {
  margin-top: 7px;
  overflow: visible !important;
  position: static !important;
  width: 100% !important;
  }      
.carousel-over {
  background: url(../images/photo-frame.png) no-repeat scroll 50% 0 transparent;
  height: 334px;
  position: absolute;
  top: 0;
  width: 100%;
  }
div.carousel-text {
  background-color: transparent;
  bottom:0;
  display:none;
  left: auto;
  margin-left: 150px;
  margin-bottom:0.75em;
  padding: 0 1em;
  position: absolute;
  right: 0;
  text-align: right;
  width: auto;
  z-index:1;
  }
.carousel-text p {
  margin:0;
  }
.carousel-banner-active .carousel-text {
  display:block;
  }
a.carousel-title,
.carousel-title {
  font-size: 1.36em;
  font-weight:bold;
  color: #fff;
  }
.carousel-body {
  color: #fff;
  font-size: 1.09em;
  font-weight: bold; 
  }
div.carousel-pager {
  bottom: 0;
  left: 0;
  margin: 0.75em 0.5em;
  position: absolute;
  }
a.carousel-pager-item,
a.carousel-pager-button-prev,
a.carousel-pager-button-next {
  background-color: #DDDDDD;
  margin-right:1px;
  padding:1px 4px;
  }
a.carousel-pager-item-active {
  background-color: #75AD0A;
  color: white;
  }

/*---------- PORTAL PERSONAL TOOLS ----------*/	
#portal-personaltools {
  background-color:#e8ecf0;
  left:2px;
  padding:3px;
  position:absolute;
  top:5px;
  }
#portal-personaltools #anon-personalbar a {
  display:inline;
  font-weight:bold;
  }
#portal-personaltools dt a {
  color:#73A20F;
  padding:0 0.25em;
  }
#portal-personaltools dt a:hover {
  color:#000;
  }
#portal-personaltools dd {
  background-color:#e8ecf0;
  left:0;
  padding:0 0 5px;
  right:auto;
  top:100%;
  }
#portal-personaltools.activated .actionMenuContent {
  display:block;
  }
#portal-personaltools li a {
  color:#73A20F;
  padding:2px 7px;
  }
#portal-personaltools li a:hover {
  background-color:transparent;
  color:#000;
  text-decoration:underline;
  }

/*---------- PORTAL LANGUAGE SELECTOR ----------*/
#portal-languageselector {
  background-color:#E8ECF0;
  bottom:5px;
  left:2px;
  margin:0 0 0 0.5em;
  padding:2px 3px;
  position:absolute;
  }
#portal-languageselector li {
  border-bottom:2px solid #E8ECF0;
  display:inline;
  margin-right:5px;
  }
#portal-languageselector a {
  padding:1px 0 1px 0.25em;
  line-height:1.73em;
  }
#portal-languageselector a:visited {
  color:#73A20F;
  }
#portal-languageselector li.currentLanguage {
  border-bottom:2px solid #fff;
  }

/*---------- PORTAL FOOTER ----------*/
#portal-footer {
  background:#8da7bf url(../images/sprite.png) repeat-x 0 -484px;
  margin:2px 0 0;
  padding:10px 7px 5px;
  border-width:0 1px 1px;
  border-style:solid;
  border-color:#ccc;
  color:#dbe6f0;
 clear:both;
 text-align: center;
 line-height: 2em;
  }
#portal-footer a {
  color:#fff;
  font-weight: bold;
  }
#portal-footer a:hover {
  text-decoration:none;
  }
#portal-footer a:visited {
  color:#fff;
  }

/*---------- PORTAL COLOPHON ----------*/
#portal-colophon {
  background-color: #FFFFFF;
  margin: 0 -3px;
  padding:0.5em 0;
  text-align: center;
  }
#portal-colophon a {
  color:#444444;
  }

/*----- Portlets -----*/
.portlet {
  margin:0 0 2px;  
  }
.portlet a:link,
.portlet a:visited {
  color:#565656;
  }
.portletHeader {
  background:#dadada url(../images/sprite.png) repeat-x 0 0;
  font-weight:normal;
  padding:2px 1em;
  border-width:0 0 1px;
  border-style:solid;
  border-color:#ccc;
  line-height:1.6em;
  text-transform:uppercase;
  color:#565656;
  }
.portletHeader a {
  color:#565656;
  }
.portletHeader a:hover {
  color:#000;
  }
.portletItem {
  line-height:1.5em;
  margin:0;
  padding:10px 5px 0;
  }
.portletItem a:hover, 
.portletFooter a:hover {
  color:#000;
  }
.portletFooter {
  padding:0.5em 5px;
  text-align:right;
  }
.tile {
  display:block;
  }
.portletItemDetails {
  color:#565656;
  display:block;
  font-weight:bold;
  }

/*----- Manage Portlets -----*/
.managePortletsLink {
  clear:both;
  text-align:left;
  }
.visualPadding .managePortletsLink {
  text-align:center;
  }
.managedPortletActions {
  float:right;
  }
.managedPortletActions a {
  margin:0 2px;
  }
  
/*---------- PORTLET NAVIGATION TREE OPTIONS ----------*/
.portletNavigationTree {
  background-color:#b4c9dd;
  color:#56616b;
  font-weight:bold;
  line-height:1.6em;
  }
.portlet.portletNavigationTree .portletItem {
  padding:0 0 1px;
  margin:0 0 2px;
  }
.portlet ul.navTreeLevel0 > .navTreeItem {
  border-bottom:0;
  line-height:1.5em;
  margin:0;
  padding:0;
  }
.navTreeItem {
  border-top:1px solid #e7e7e7;
  margin:0;
  }
.portletItem .navTreeItem a {
  background: url(../images/sprite.png) no-repeat 10px -675px;
  display:block;
  line-height:1.6em; /* !important added for when the option show icons */
  padding:4px 4px 4px 27px !important; /* !important added for when the option show icons */
  color:#56616b;
  }
.portletItem .navTreeItem a img {
  display:none;
  }
.navTreeItem a:hover, 
.portletItem .navTreeItem a:hover {
  color:#56616b;
  }
.navTreeItem a.navTreeItemInPath,
.portlet ul.navTree .navTreeCurrentItem,
.portletItem .navTreeItem a:hover {
  background-color:#c9ddf1;
  border:0;
  margin:0;
  }
.portletItem ul.navTreeLevel1 .navTreeItem  {
  border-top:0;
  padding:0 0 0 7px;
  }

/*---------- PORTLET SEARCH ----------*/
.portletSearch {
  background:url(../images/sprite.png) repeat-x 0 0 #dadada;
  border-width:0 0 1px;
  border-style:solid;
  border-color:#ccc;
  }
.portletSearch .portletItem {
  padding-right:49px
  } 
.portletSearch form {
  white-space:nowrap;
  }
.portletSearch .portlet-search-gadget {
  border-width:1px 0 0 1px;
  border-style:solid;
  border-color:#c2c2c2;
  padding:2px 7px;
  width:100%;
  }
.portletSearch input.searchButton {
  background-position:0 -1084px;
  }
.portletSearch .portletFooter {
  padding-left:10px;
  text-align:left;
  }
.portletSearch .LSBox {
  position:relative;
  }  
.portletSearch .LSResult {
  right:auto;
  } 
.portletSearch .livesearchContainer {
  border-top:0;
  width:207px;
  }
.portletSearch #LSNothingFound,
.portletSearch .LSRow {
  width:auto;
  }

/*---------- PORTLET LOGIN ----------*/
.portletLogin {
  margin-bottom:10px;
  }
.portletLogin .field {
  margin:0 0 4px;
  }
.portletLogin .field input[type="text"][size],
.portletLogin .field input {
  border-width:1px;
  border-style:solid;
  border-color:#808080 #d4d0c8 #d4d0c8 #808080;
  padding:1px 2px;
  width:120px;
  }
.portletLogin .formControls {
  margin:12px 0 0;
  }
.portletLogin .formControls input {
  font-size:100%;
  padding:1px 15px;
  }

/*----- Portlet Static Text -----*/
div.portletStaticText {
  margin:0 0 10px;
  }
.portletStaticText ul {
  list-style-type:disc;
  margin:6px 0 1em 15px;
  }
.portletStaticText ol {
  margin:6px 0 1em 19px;
  }

/*----- Portlet Calendar -----*/
.portletCalendar dt.portletHeader {
  text-align:center;
  }
.portletCalendar dt.portletHeader a {
  display:inline;
  }
.topPortlets .portletCalendar dd,
.portletCalendar dd {
  padding:0;
  }
.ploneCalendar {
  width:100%;
  }
.ploneCalendar th {
  background-color: transparent;
  border-bottom:1px solid #ccc;
  padding: 2px;
  text-align:center;
  }
.ploneCalendar td {
  background-color: #e1e1e1;
  padding: 2px;
  text-align: center;
  width: 14%;
  }
.ploneCalendar .event {
  background-color: #EEEEEE;
  font-weight: bold;
  }
.ploneCalendar .todayevent {
  background-color: #EEEEEE;
  border: 2px solid #205C90;
  font-weight: bold;
  }

/*----- Form Tabs -----*/
#content .formTabs {
  background-color:#ddd;
  margin:0;
  padding:3px 3px 0;
  }
#content .formTab {
  background-image:none;
  display:inline;
  margin-right:0.25em;
  }
#content li.formTab a {
  display:inline-block;
  line-height:2em;
  padding:0 0.75em;
  text-decoration:none;
  }
#content li.formTab a.selected,
#content li.formTab a:hover {
  background:#fff;
  color:#000;
  }
#content li.formTab a.notify {
  background-color:red;
  color:#fff;
  }
#content li.formTab a.required span:after {
  color:#f00;
  content:" ■";
  }
#content fieldset.formPanel {
  border:0;
  }
#content fieldset.formPanel.hidden {
  display:none;
  }
#content div.formControls input.hidden {
  display:none;
  }

/*----- Status messages -----*/
dl.portalMessage {
  background-color:#ffffe3;
  border:1px solid #996;
  clear:both;
  margin:1em 0 1em 14px;
  }
#content dl.portalMessage {
  font-size:100%;
  margin-left:0;
  }
.position-0 dl.portalMessage {
  margin-left:0;
  }
dl.portalMessage a,
#content dl.portalMessage a {
  color:#000;
  }
dl.portalMessage dt {
  background-color:#996;
  color:#fff;
  font-weight:bold;
  float:left;
  line-height:1.25em;
  margin:0 0.5em 0 0;
  padding:0.5em 0.75em;
  }
dl.portalMessage dd {
  line-height:1.25em;
  padding:0.5em 0.5em;
  }
dl.warning {
  border-color:#d80;
  }
dl.warning dt {
  background-color:#d80;
  }
dl.warning dd {
  background-color:#fd7;
  }
dl.error {
  border-color:#d00;
  }
dl.error dt {
  background-color:#d00;
  }
dl.error dd {
  background-color:#fdc;
  }
#setup-link {
  line-height:1.6em;
  }

/*----- Overlays -----*/
.overlay {
  display:none;
  height:auto;
  margin:1em;
  width:auto;
  }
.overlay-iframe,
.overlay-ajax {
  min-height:100px;
  width:600px;
  z-index:99;
  }
.overlay-iframe {
  height:60%;
  }
.overlaybg div.close,
.overlay div.close {
  background:url(../images/pb_close.png) no-repeat 0 0;
  cursor:pointer;
  height:30px;
  left:-14px;
  position:absolute;
  top:-14px;
  width:30px;
  }
.pb-ajax {
  overflow-y:auto;
  }
.pb-ajax,
.pb-image {
  background-color:#fff;
  border:1px solid #999;
  white-space:normal;
  box-shadow:0 0 3em 0.5em #666;
  -moz-box-shadow:0 0 3em 0.5em #666;
  -webkit-box-shadow:0 0 3em #666;
  }
.pb-ajax > div {
  padding:1em;
  }
.pb-ajax .documentActions {
  display:none;
  }
div.overlay {
  font-size:100%;
  }
div.overlay div.close span {
  display:block;
  height:1px;
  margin:-1px 0 0 -1px;
  overflow:hidden;
  padding:0;
  width:1px;
  }
.overlay textarea {
  width:100%;
  }
.overlay .link-parent { display: none; }
.overlay #createGroup legend { display: none; }
.overlay #createGroup fieldset { border: none; }
.overlay p {
  margin-bottom:1em;
  }
.overlay label {
  margin-bottom:0.25em;
  }
.overlay a:hover {
  color:#75ad0a;
  }
.overlay a.selected {
  color: #000000;
  }
.overlay .formTab {
  margin-right:1em;
  font-weight: bold;
  }
.overlay .formTab.lastFormTab {
  margin-right:0;
  }
.overlay .formControls a {
  display:block;
  margin:0.75em;
  }

/*----- Login form -----*/
#fieldset-openid-login input,
#login-form input {
  font-size:150%;
  }
body.template-register #content input,
body.template-new-user #content input {
  font-size:150%;
  width:inherit;
  }
#fieldset-openid-login label,
#login-form label {
  display:inline-block;
  margin-right:0.5em;
  padding-top:0.2em;
  width:10em;
  }
#fieldset-openid-login .formControls,
#login-form .formControls {
  padding-left:10.7em;
  }

/*----- Content History -----*/
#content-history .historyRecord {
  margin-bottom:1em;
  }
#content-history .historyTools ul {
  float:right;
  margin:0.5em 1em;
  }
#content-history .historyTools ul li {
  display:inline;
  padding:0 0.015em;
  }
#content-history .historyTools form {
  display:inline;
  }
#content-history .historyByLine {
  background:#ddd;
  padding:0.5em;
  }
#content-history .historyLinks {
  clear:right;
  float:right;
  margin:0.5em 1em 0 0;
  }
#content-history .historyComment {
  border:1px solid #ddd;
  padding:0.5em 1em;
  }
#content-history .historyComment p {
  margin:0;
  padding-top:1px;
  }
#content-history a.historyComparePrevious {
  border-top:1px dotted #ccc;
  display:block;
  margin-top:3em;
  text-align:center;
  }
#content-history a.historyComparePrevious span {
  background-color:#fff;
  padding:0 0.5em;
  position:relative;
  top:-0.75em;
  }

/*----- Events -----*/
.eventDetails {
  clear:right;
  float:right;
  margin:0 0 0.5em 1em;
  }

/*----- Search Results -----*/
.highlightedSearchTerm {
  background-color:#ff9;
  padding:0 2px;
  }

/*----- Editing -----*/
.fieldRequired {
  color:#fff;
  }
.fieldRequired:before {
  color:#f00;
  content:"■ ";
  }
.formHelp { 
  color:#555; 
  margin:0 0 0.2em 0; 
  } 
.formPanel textarea {
  width:100%;
  }
#title {
  font-size:2em;
  width:100%;
  }
.suppressVisualEditor {
  margin:0 !important;
  }
.fieldUploadFile {
  display:none;
  }
ul.configlets,
#content ul.configlets {
  list-style:none;
  margin:1em 0;
  }
#content ul.configlets li {
  background:transparent;
  margin-bottom:1em;
  padding-left:0;
  }
#content ul.configlets li a {
  text-decoration:none;
  }
#content ul.configletDetails {
  margin:0 1em 1em 4em;
  list-style:none;
  }
#content ul.configletDetails li {
  margin-bottom:1em;
  display:inline;
  }
#content ul.configletDetails li.configletDescription {
  display:block;
  color:#76797c;
  margin:0;
  }
#kss-spinner {
  background-position:50% 50%;
  display:none;
  height:20px;
  left:50%;
  margin:-10px 0 0 -10px;
  position:fixed;
  top:50%;
  width:20px;
  }
.formlibInlineEditable,
.inlineEditable {
  display:block;
  padding:1px;
  }
body.kssActive .inlineEditable:hover,
body.kssActive .formlibInlineEditable:hover {
  border:1px solid #ddd;
  border-color:#666 #ddd #ddd #666;
  cursor:text;
  padding:0;
  }
body.kssActive .inlineEditable a:hover,
body.kssActive .formlibInlineEditable a:hover {
  cursor:pointer;
  }
body.kssActive .formlibInlineForm:hover,
body.kssActive .formlibInlineForm a:hover {
  border:0;
  cursor:default;
  padding:1px;
  }
.inlineForm .formHelp,
.inlineForm .fieldRequired,
.inlineForm label {
  display:none;
  }
/* In inline selection widgets the label *must* be displayed, as
   otherwise you only see identical radio buttons without text. */
.inlineForm .ArchetypesSelectionWidget label {
  display: inline;
  }
.inlineForm #archetypes-fieldname-title input,
.inlineForm #archetypes-fieldname-title {
  font-size: 100%;
  }
/* Workaround for abnormally large buttons in the h1 tag */
h1 div.formControls input {
  font-size:55% !important;
  }

/*----- Edit Bar -----*/
#edit-bar {
  background-color:#75ad0a;
  min-height:1.73em;
  margin:1em 0 2em;
  padding:3px;
  }
#content-views {
  background-color:#75ad0a;
  float:left;
  }
#content-views li {
  display:inline;
  }
#content-views a {
  color:#fff;
  display:inline-block;
  line-height:1.73em;
  padding:0 0.75em;
  text-decoration:none;
  }
#content-views li.selected a,
#content-views li a:hover {
  background:#fff;
  color:#000;
  }
#content-views li.selected a {
  font-weight:bold;
  }

/*----- Content pulldowns -----*/
#contentActionMenus {
  background-color:#75ad0a;
  float:right;
  margin-right:-3px;
  padding-right:3px;
  }
#contentActionMenus > li {
  display:inline;
  }
.actionMenu {
  float:right;
  margin:0 0 0 0.5em;
  position:relative;
  white-space:nowrap;
  }
.actionMenu dt {
  font-weight:normal;
  }
.actionMenu a {
  color:#fff;
  display:block;
  line-height:1.73em;
  text-decoration:none;
  }
.actionMenu a:visited {
  color:#fff;
  }
.actionMenu dt a {
  padding:0 3px;  
  }
.arrowDownAlternative {
  font-size:80%;
  }
.actionMenu dd {
  background-color:#75ad0a;
  right:-3px;
  margin:0;
  min-width:100%;
  padding:0 3px 3px;
  position:absolute;
  width:auto;
  z-index:5;
  }
.actionMenu.deactivated dd {
  display:none;
  }
.actionMenu dd a:hover,
.actionMenu dd .actionMenuSelected {
  background-color:#fff;
  color:#666;
  }
.subMenuTitle {
  display:block;
  padding:0 3px;
  }

/*----- Data tables -----*/
table.invisible td,
table.invisible th,
table.plain td,
table.plain th,
table.listing td,
table.listing th {
  padding:0.5em 1em;
  vertical-align:top;
  }
table.plain th,
table.plain td {
  border:1px solid #ddd;
  }
table.listing td.listingCheckbox,
table.listing th.listingCheckbox {
  text-align:center;
  }
table.listing {
  border-left:1px solid #ddd;
  border-bottom:1px solid #ddd;
  }
table.listing .top {
  border-left:1px solid #ddd;
  border-top:1px solid #ddd;
  border-right:1px solid #ddd;
  }
table.listing th {
  background:#f0f0f0;
  border:1px solid #e7e7e7;
  border-style:solid;
  color:#666;
  }
table.listing tr.odd th {
  border:0.1em solid #fff;
  border-style:solid solid none none;
  }
table.listing tbody th {
  font-weight:bold;
  }
table.listing tbody tr {
  text-align:left;
  }
table.listing tbody tr.odd {
  background:#eee;
  }
table.listing tbody tr td {
  background:transparent;
  }
table.listing tbody tr.odd td {
  background:#eee;
  }
table.listing td {
  border-right:1px solid #ddd;
  }
table.listing td.draggable {
  text-shadow:#fff 1px 1px 1px;
  background:#ddd !important;
  border-bottom:1px solid white;
  padding:0.4em 0.4em 0 0.5em;
  }

/* Vertical table data listings */
table.vertical th {
  text-align:right;
  }
table.vertical td {
  border-top:0.1em solid #e7e7e7;
  padding:0.5em;
  }

/* Grid table listings */
table.grid td,
table.grid th {
  border:1px solid #e7e7e7;
  padding:0.5em;
  }
.dragindicator {
  outline:2px solid #FFD700;
  }
#foldercontents-order-column {
  padding:0;
  }

/* Listing Bar */
div.listingBar {
  font-size:80%;
  margin:1em 0;
  }
div.listingBar .next {
  display:inline-block;
  float:right;
  }
div.listingBar .previous {
  display:inline-block;
  }
div.listingBar a {
  border:0.1em solid #ccc; /*-*/
  display:inline-block;
  padding:0.25em 0.5em;
  }
div.listingBar a:hover { /*-*/
  background-color:#329fd7;
  border-color:#329fd7;
  color:#fff;
  }
/*
.listingBar {
  margin:1em 0;
  text-align:center;
  }
.listingBar .previous {
  float:left;
  }*/

/*---------- DASHBOARD ----------*/
#dashboard-portlets1,
#dashboard-portlets2,
#dashboard-portlets3,
#dashboard-portlets4 {
  float:left;
  margin-right:1.3%;
  width:24%;
  }
#dashboard-portlets4 {
  margin-right:0;
  }

/*---------- ALBUM ----------*/
.photoAlbumEntry {
  background:url(../images/album.png) no-repeat;
  float:left;
  font-size:0.92em;
  height:162px;
  line-height:1.36em;
  margin:0 6px 6px;
  padding:8px 7px 8px 6px;
  width:132px;
  }
.photoAlbumFolder {
  background-position:0 -178px;
  }
.photoAlbumEntry a {
  display:block;
  height:162px;
  overflow:hidden;
  position:relative;
  text-decoration:none;
  }
.photoAlbumEntry a:after {
  background-color:rgba(241, 241, 241, 0.4);
  bottom:0;
  content:"";
  height:8px;
  position:absolute;
  width:100%;
  }
.photoAlbumEntryWrapper {
  display:block;
  text-align:center;
  }
.photoAlbumEntry img {
  border:2px solid #fff;
  }
.photoAlbumEntryTitle {
  color:#757373;
  display:block;
  padding:4px 3px 0;
  width:126px;
  }
.photoAlbumEntry a:hover {
  overflow:visible;
  }
.photoAlbumEntry a:hover .photoAlbumEntryTitle  {
  background-color:rgb(241,241,241);
  background-color:rgba(241,241,241,0.8);
  bottom:0;
  min-height:50%;
  position:absolute;
  }

/*----- Accessibility elements, applied by JS -----*/ 
body.largeText { 
  font-size:81%; 
  }
body.smallText { 
  font-size:56%; 
  }

/*---------- COMMENTING ----------*/
.discussion .hide {
  display:none;
  }
.discussion {
  clear:both;
  font-size:1.09em;
  }
.comment {
  padding:0 0 9px;
  }
.commentImage {
  float:left;
  padding:5px 7px;
  }
.discussion .documentByLine {
  background-color:#f1f1f1;
  margin:5px 0 0;
  padding:5px;
  }
.commentBody {
  border-color:#d9d9d9 #f1f1f1 #f1f1f1;
  border-style:solid;
  border-width:1px;
  clear:both;
  margin:0 0 5px;
  padding:5px;
  overflow:auto;
  }
.commentActions {
  text-align:right;
  }
.reply-to-comment-button {
  margin-left:11px;
  }
.reply {
  background-color:#f1f1f1;
  clear:both;
  font-size:1.09em;
  margin:35px 0 0;
  padding:5px 7px;
  position:relative;
  }
.reply fieldset {
  margin:0;
  }
.reply legend {
  font-weight:bold;
  position:absolute;
  top:-28px;
  }
.reply p {
  color:#76797c;
  font-size:0.92em;
  }
.reply textarea {
  min-height:50px;
  width:100%;
  }

/*---------- CONTENT TYPE ICONS ----------*/
.icons-on .contenttype-folder {
  background:url(../images/icons-sprite.png) no-repeat 0 -1598px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-document {
  background:url(../images/icons-sprite.png) no-repeat 0 -1799px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-news-item {
  background:url(../images/icons-sprite.png) no-repeat 0 -1999px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-event {
  background:url(../images/icons-sprite.png) no-repeat 0 -2199px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-topic {
  background:url(../images/icons-sprite.png) no-repeat 0 -2400px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-image {
  background:url(../images/icons-sprite.png) no-repeat 0 -2599px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-link {
  background:url(../images/icons-sprite.png) no-repeat 0 -2995px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on img[alt='File'] {
  margin-right:3px;
  }

/* Add new */
#plone-contentmenu-factories li a {
  background:url(../images/icons-sprite.png) no-repeat 1px -1199px;
  display:block;
  padding-left:17px;
  }
#plone-contentmenu-factories li a:hover {
  background-color:#fff;
  background-position:1px -2799px;
  }
#plone-contentmenu-factories li .contenttype-folder {
  background-position:1px 2px;
  }
#plone-contentmenu-factories li .contenttype-folder:hover {
  background-position:2px -1598px;
  }
#plone-contentmenu-factories li .contenttype-document {
  background-position:1px -199px;
  }
#plone-contentmenu-factories li .contenttype-document:hover {
  background-position:2px -1799px;
  }
#plone-contentmenu-factories li .contenttype-news-item {
  background-position:1px -399px;
  }
#plone-contentmenu-factories li .contenttype-news-item:hover {
  background-position:2px -1999px;
  }
#plone-contentmenu-factories li .contenttype-event {
  background-position:1px -599px;
  }
#plone-contentmenu-factories li .contenttype-event:hover {
  background-position:2px -2199px;
  }
#plone-contentmenu-factories li .contenttype-topic {
  background-position:1px -800px;
  }
#plone-contentmenu-factories li .contenttype-topic:hover {
  background-position:2px -2400px;
  }
#plone-contentmenu-factories li .contenttype-image {
  background-position:1px -999px;
  }
#plone-contentmenu-factories li .contenttype-image:hover {
  background-position:2px -2599px;
  }
#plone-contentmenu-factories li .contenttype-file {
  background-position:1px -1199px;
  }
#plone-contentmenu-factories li .contenttype-file:hover {
  background-position:2px -2799px;
  }
#plone-contentmenu-factories li .contenttype-link {
  background-position:1px -1395px;
  }
#plone-contentmenu-factories li .contenttype-link:hover {
  background-position:2px -2995px;
  }
#plone-contentmenu-factories #settings {
  background-image:none;
  padding:0;
  }

}


@media print {

  body {
    background-color:#fff;
    }
  h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
    line-height:125%;
    page-break-inside:avoid;
    page-break-after:avoid;
    }
  a {
    text-decoration:none;
    border-bottom:1px solid black;
    color:black;
    }
  img {
    border:0;
    }
  #portal-column-content {
    width:95%;
    }
  .documentDescription {
    font-weight:bold;
    }
  pre {
    border: 1pt dotted black;
    white-space: pre;
    font-size: 8pt;
    overflow: auto;
    padding: 1em;
    }
  table.listing,
  table.listing td {
    border: 1pt solid black;
    border-collapse: collapse;
    }
  table.listing td,
  table.listing th {
    padding: 6px;
    }

  /* Page break class for use when printing */
  div.pageBreak {
    page-break-before: always;
    }

  /* Basic styles for listing and document views */
  #content dt {
    margin:1em 0 0.625em;
    }
  #content p, #content table {
    margin-bottom:0.625em;
    margin-top:0.625em;
    }
  #content .documentDescription, #content #description {
    margin:0.5em 0 1.31em;
    }

  /* Hide all the elements that are irrelevant for printing */
  div.top,
  #portal-logo,
  #portal-siteactions,
  .hiddenStructure,
  #portal-searchbox,
  #portal-globalnav-wrapper,
  #portal-personaltools,
  #portal-breadcrumbs,
  #edit-bar,
  #portal-column-one,
  #portal-column-two,
  #portal-languageselector,
  .contentViews,
  .contentActions,
  .help,
  .legend,
  .portalMessage,
  .documentActions,
  .netscape4,
  #kss-spinner,
  #review-history,
  #content-history,
  .listingBar,
  #portal-footer,
  #portal-colophon,
  .skipnav,
  #kss-spinner,
  #review-history,
  #content-history,
  .listingBar,
  .link-presentation,
  input.standalone,
  .overlay,
  .managePortletsFallback,
  .close,
  .link-parent,
  .draggingHook,
  #foldercontents-order-column,
  input.context,
  .promoWrapper,
  #front-page-logo,
  #why-quintagroup,
  #latest-projects,
  .visualNoPrint {
    display: none;
    }

  /* Image alignment classes */
  .image-left {
    float: left;
    clear: both;
    margin: 0.5em 1em 0.5em 0;
    border: 0.4pt solid Black;
    }
  .image-inline {
    float: none;
    }
  .image-right {
    float: right;
    clear: both;
    margin: 0.5em;
    border: 0.4pt solid Black;
    }
  dd.image-caption {
    text-align:left;
    padding: 0; margin:0;
    }
  dl.captioned {
    padding: 0.8em;
    }
  .newsImageContainer {
    float:right;
    margin: 0 0 0.5em 1em;
    }

}
